.btn {
	cursor: pointer;
}

.btn-primary {
	background-color: $normal;
	border-color: $normal;
	//margin: 0px 2px;
}

.btn-primary:hover {
	background-color: $primary;
	border-color: $primary;
}

button.with-search {
	position: relative;
	top: 37px;
	z-index : 99;
}

/*mobile*/
@media (max-width: 768px) {
	button{
		margin-bottom: 2px;
		margin-top: 2px
	}
	button.with-search {
		top: auto;
	}
}